.Top{
    background-color: aquamarine;
    text-align: center;
}

.Nav{
    justify-content: left;
    display: inline-flex;
}
.Service{
    background-color: aquamarine;
    text-align: center;
    margin-top: -20px;
    
}
.Serve{
    display: inline-flex;
    justify-content: space-around;
}

.Arch{
    display: inline-flex;
    justify-content: space-between;
}
.Done{
    margin: 20px;
}

Dtwo{
    margin: 20px;
    margin-left: 100px;
}

.About{
   background-image:url(images/odumbe1.jpg);
   /* background-size:cover; */
   text-align:center;
   height:100vh;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   width: 100%;
   background-color: aquamarine;
    
}